:root {
  --scheme-type: gsf-brand;
  --primary: #3c3c3c;
  --secondary: #fbfcf6;
  --tertiary: #006d69;
  --quaternary: #006d69;
  --header_background: #fbfcf6;
  --header_primary: #3c3c3c;
  --highlight: #f7faee;
  --danger: #dd261c;
  --success: #d7e6a9;
  --love: #ee938d;
  --always-black-rgb: 0, 0, 0;
  --primary-rgb: 60, 60, 60;
  --primary-low-rgb: 235.5, 235.5, 235.5;
  --secondary-rgb: 251, 252, 246;
  --header_background-rgb: 251, 252, 246;
  --tertiary-rgb: 0, 109, 105;

  --header_primary-low: #eff0ea;
  --header_primary-low-mid: #cdcec9;
  --header_primary-medium: #aeafab;
  --header_primary-high: #929390;
  --header_primary-very-high: #626260;

  --secondary-low: #ebf2d4;
  --secondary-medium: #d7e6a9;
  --secondary-normal: #aecc53;
  --secondary-high: #83993e;
  --secondary-very-high: #576629;

  --tertiary-very-low: #f2f8f7;
  --tertiary-low: #e5f0f0;
  --tertiary-medium: #80b6b4;
  --tertiary-high: #00524f;
  --tertiary-hover: #00524f;

  --quaternary-low: #e5f0f0;

  --highlight-low: #ffffca;
  --highlight-medium: #ffffa6;
  --highlight-high: #a6a600;
}
